body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
}

a{
    text-decoration: none;

}
a:hover {
    color: hotpink;
    text-decoration: underline;

  }
a:visited {
    color: green;
  }

  li{
      list-style-type: none;
  }
